@charset "utf-8";
/*body{background:url(../../images/backline.png);}

.wrapper{background:rgba(204,155,0,.75)}*/
.bx-wrapper{
	box-shadow:none;
    border:none;
    margin-bottom:0;
}
.main_slider{position: relative;width:1260px;margin:0 auto;}
#prevBtn,#nextBtn{width: 52px;height: 52px;
		position: absolute;
		top:50%;transform:translateY(-50%);
		cursor:pointer;}
#prevBtn{left:10px;}
#nextBtn{right:10px;}

.main_slider li{height: 740px;}
.main_slider li img{position: absolute;border-radius:10px 10px 0 0;}
.main_slider li h2{position: absolute;
	top:200px;left:700px;color:white;font-size:35px;
	font-weight:normal;
}
.main_slider li p{position: absolute;top:310px;left:700px;}
.main_slider li p:before{content:"";
			border-top:1px solid white;
			display: block;padding-top:15px;}
.main_slider li .btn_more{position: absolute;
	top:380px;left:700px;font-weight:bold;
	border:3px solid #514f64;color:#514f64;
	padding:10px 30px;border-radius:50px;cursor:pointer;
}
.main_slider li .btn_more:hover{color:#fff;background:#514f64;}

.main_slider_pager{width: 1260px;margin:0 auto;}
.bx-pager{width:100%;overflow: hidden;}
.bx-pager a{width:25%;display: block;float: left;line-height:72px;
		font-weight:bold;background:#514f64;text-align:center;
		position:relative;}
.bx-pager a:before{content:"";position: absolute;
display: block;height:15px;top:30px;left:-1px;
border-left:1px solid white;}

.bx-pager a.active{background:#ffc30b;}
.bx-pager a:first-child{border-radius:0 0 0 10px;}
.bx-pager a:last-child{border-radius:0 0 10px 0;}
